In [1]:
import requests
from bs4 import BeautifulSoup

scraped_Titles = []  

for x in range(2, 10):
    mylink = f'https://www.buyrentkenya.com/flats-apartments-for-rent/nairobi/kileleshwa?page={x}'

    response = requests.get(mylink)
    result = BeautifulSoup(response.content, "html.parser")
    result

    ALL_LINKS = result.find_all(class_='text-black no-underline')

    links = [l.get('href') for l in ALL_LINKS]

    linksS = [f'https://www.buyrentkenya.com{l}' for l in links]

    new_links = []
    for link in linksS:
        new_linkss = link.split("\n")
        new_links.append(new_linkss)
    new_links

    second_links = []

    for x in range(0, len(new_links), 2):
        second_links.append(new_links[x])

    total_links = []
    for x in second_links:
        total_links.append(x)

    link_list = []
    for x in total_links:
        link_s = x[0]
        link_list.append(link_s)
    link_list

    for link in link_list:
        response = requests.get(link)
        myresult = BeautifulSoup(response.content, "html.parser")

        number_titles = myresult.find(class_="text-lg font-semibold md:text-2xl")  
        
        if number_titles:
            titles = number_titles.get_text(strip=True)  
            scraped_Titles.append(titles)  
        else:
            scraped_Titles.append("Title not found for this link")

In [2]:
scraped_Titles

['3 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 'Serviced 2 Bed Apartment with En Suite in Kileleshwa',
 'Furnished 2 Bed Apartment with En Suite at',
 'Furnished 2 Bed Apartment with En Suite in Kileleshwa',
 'Furnished 3 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with En Suite at Laikipia Road',
 '3 Bed Apartment with En Suite at Kileleshwa',
 '4 Bed Apartment with En Suite at Kileleshwa',
 'Furnished 2 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 'Serviced 3 Bed Apartment with En Suite at Kileleshwa',
 'Serviced Studio Apartment with En Suite at Othaya Road',
 '3 Bed Apartment with En Suite in Kileleshwa',
 'Serviced 3 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 'Serviced 2 Bed Apartment with En Suite in Kileleshwa',
 '4 Bed Apartment with En Suite at Kileleshwa',
 'Serviced Studio Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 'Serviced 1 Bed Apartment with En Suite at Kangundo Road',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 '4 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with Parking in Kileleshwa',
 '2 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite at Othaya Road',
 'Furnished 3 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa Area',
 'Serviced 1 Bed Apartment with En Suite in Kileleshwa',
 '4 Bed Apartment with En Suite in Kileleshwa',
 '4 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '4 Bed Apartment with En Suite at Kileleshwa',
 'Serviced 3 Bed Apartment with En Suite at Kileleshwa',
 '2 Bed Apartment with En Suite in Kileleshwa',
 'Serviced 3 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 'Serviced 2 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 'Serviced Studio Apartment with En Suite at Othaya Road',
 'Serviced Studio Apartment with En Suite in Kileleshwa',
 'Serviced 2 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with Gym in Kileleshwa',
 '2 Bed Apartment with Garden in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 'Studio Apartment with En Suite in Kileleshwa',
 'Serviced 2 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 'Studio Apartment with En Suite at Siaya Road',
 '3 Bed Apartment in Kileleshwa',
 'Serviced 3 Bed Apartment with En Suite at Othaya Road',
 'Serviced 2 Bed Apartment with En Suite at Kangundo Road',
 '2 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 'Furnished 1 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 'Furnished 3 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with Swimming Pool in Kileleshwa',
 'Serviced 1 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite at Mandela Road',
 '3 Bed Apartment with En Suite at Kileleshwa',
 '1 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with Lift in Kileleshwa',
 '4 Bed Apartment with En Suite at Kileleshwa',
 '4 Bed Apartment with En Suite at Kileleshwa',
 '2 Bed Apartment with Parking in Kileleshwa',
 '2 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with En Suite in Kileleshwa',
 'Furnished 2 Bed Apartment with En Suite in Kileleshwa',
 'Furnished 2 Bed Apartment with En Suite in Kileleshwa',
 'Furnished 3 Bed Apartment with En Suite at',
 '3 Bed Apartment with En Suite at Hamisi Road',
 '3 Bed Apartment with En Suite at Kileleshwa',
 '5 Bed Apartment with En Suite at Kileleshwa',
 'Serviced 3 Bed Apartment with En Suite at Laikipia Road',
 'Serviced 2 Bed Apartment with Swimming Pool in Kileleshwa',
 '1 Bed Apartment with Backup Generator in Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 'Serviced 2 Bed Apartment with En Suite at Kileleshwa',
 'Serviced 2 Bed Apartment with En Suite at Kileleshwa',
 '2 Bed Apartment with En Suite in Kileleshwa',
 'Serviced 3 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '3 Bed Apartment with En Suite at Siaya Road',
 '3 Bed Apartment with En Suite at Kileleshwa',
 '2 Bed Apartment with En Suite at Mogoiri Road',
 'Serviced 2 Bed Apartment with En Suite at Kangundo Road',
 'Serviced Studio Apartment with En Suite at Othaya Road',
 'Furnished 2 Bed Apartment with En Suite in Kileleshwa',
 '4 Bed Apartment with En Suite at',
 '4 Bed Apartment with En Suite in Kileleshwa',
 'Serviced 3 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with Parking at Githunguri',
 'Furnished 1 Bed Apartment with En Suite in Kileleshwa',
 '2 Bed Apartment with En Suite at Kileleshwa',
 '3 Bed Apartment with En Suite at Kileleshwa',
 'Serviced 1 Bed Apartment with En Suite at Kileleshwa']

In [3]:
import requests
from bs4 import BeautifulSoup

scraped_Bedrooms = []

for x in range(2, 10):
    mylink = f'https://www.buyrentkenya.com/flats-apartments-for-rent/nairobi/kileleshwa?page={x}'

    response = requests.get(mylink)
    result = BeautifulSoup(response.content, "html.parser")
    result

    ALL_LINKS = result.find_all(class_='text-black no-underline')

    links = [l.get('href') for l in ALL_LINKS]

    linksS = [f'https://www.buyrentkenya.com{l}' for l in links]

    new_links = []
    for link in linksS:
        new_linkss = link.split("\n")
        new_links.append(new_linkss)
    new_links

    second_links = []

    for x in range(0, len(new_links), 2):
        second_links.append(new_links[x])

    total_links = []
    for x in second_links:
        total_links.append(x)

    link_list = []
    for x in total_links:
        link_s = x[0]
        link_list.append(link_s)
    link_list

    

    for link in link_list:
        response = requests.get(link)
        myresult = BeautifulSoup(response.content, "html.parser")

        number_bedrooms = myresult.find(class_="flex h-6 max-w-24 items-center rounded-2xl bg-highlight px-3 py-2 mr-5 font-bold")

        if number_bedrooms:
            bedrooms = number_bedrooms.get_text(strip=True)
            scraped_Bedrooms.append(bedrooms)
        else:
            scraped_Bedrooms.append("Title not found for this link")

In [4]:
scraped_Bedrooms

['3',
 '3',
 '2',
 '2',
 '2',
 '3',
 '3',
 '2',
 '3',
 '4',
 '2',
 '2',
 '2',
 '3',
 '3',
 'Title not found for this link',
 '3',
 '3',
 '3',
 '3',
 '2',
 '4',
 'Title not found for this link',
 '3',
 '1',
 '3',
 '3',
 '4',
 '3',
 '2',
 '2',
 '3',
 '3',
 '2',
 '3',
 '3',
 '2',
 '3',
 '1',
 '4',
 '4',
 '3',
 '4',
 '3',
 '2',
 '3',
 '3',
 '2',
 '3',
 'Title not found for this link',
 'Title not found for this link',
 '2',
 '3',
 '3',
 '2',
 '3',
 '3',
 '3',
 'Title not found for this link',
 '2',
 '3',
 '2',
 '3',
 '2',
 '3',
 '3',
 '3',
 'Title not found for this link',
 '3',
 '3',
 '2',
 '2',
 '3',
 '3',
 '3',
 '1',
 '3',
 '3',
 '3',
 '1',
 '3',
 '3',
 '3',
 '1',
 '3',
 '4',
 '4',
 '2',
 '2',
 '2',
 '2',
 '2',
 '3',
 '3',
 '3',
 '5',
 '3',
 '2',
 '1',
 '3',
 '2',
 '2',
 '2',
 '3',
 '3',
 '3',
 '3',
 '2',
 '2',
 'Title not found for this link',
 '2',
 '4',
 '4',
 '3',
 '3',
 '2',
 '1',
 '2',
 '3',
 '1']

In [5]:
import requests
from bs4 import BeautifulSoup

scraped_Bathrooms = []

for x in range(2, 10):
    mylink = f'https://www.buyrentkenya.com/flats-apartments-for-rent/nairobi/kileleshwa?page={x}'

    response = requests.get(mylink)
    result = BeautifulSoup(response.content, "html.parser")
    result

    ALL_LINKS = result.find_all(class_='text-black no-underline')

    links = [l.get('href') for l in ALL_LINKS]

    linksS = [f'https://www.buyrentkenya.com{l}' for l in links]

    new_links = []
    for link in linksS:
        new_linkss = link.split("\n")
        new_links.append(new_linkss)
    new_links

    second_links = []

    for x in range(0, len(new_links), 2):
        second_links.append(new_links[x])

    total_links = []
    for x in second_links:
        total_links.append(x)

    link_list = []
    for x in total_links:
        link_s = x[0]
        link_list.append(link_s)
    link_list

    for link in link_list:
        response = requests.get(link)
        myresult = BeautifulSoup(response.content, "html.parser")

        number_bathrooms = myresult.find(attrs={"aria-label": "bathrooms"})

        if number_bathrooms:
            bathrooms = number_bathrooms.get_text(strip=True)
            scraped_Bathrooms.append(bathrooms)
        else:
            scraped_Bathrooms.append("0")

In [8]:
scraped_Bathrooms

['3',
 '2',
 '3',
 '2',
 '2',
 '4',
 '3',
 '2',
 '4',
 '5',
 '2',
 '2',
 '3',
 '3',
 '2',
 '1',
 '3',
 '3',
 '2',
 '3',
 '2',
 '5',
 '1',
 '3',
 '2',
 '4',
 '2',
 '3',
 '2',
 '1',
 '3',
 '3',
 '4',
 '2',
 '4',
 '0',
 '2',
 '4',
 '1',
 '4',
 '4',
 '3',
 '4',
 '4',
 '2',
 '3',
 '4',
 '2',
 '2',
 '1',
 '1',
 '3',
 '3',
 '4',
 '0',
 '3',
 '3',
 '3',
 '1',
 '2',
 '2',
 '2',
 '4',
 '3',
 '3',
 '2',
 '3',
 '1',
 '0',
 '4',
 '3',
 '3',
 '3',
 '4',
 '2',
 '2',
 '3',
 '4',
 '0',
 '1',
 '3',
 '3',
 '2',
 '1',
 '2',
 '4',
 '4',
 '2',
 '2',
 '3',
 '3',
 '2',
 '3',
 '3',
 '3',
 '5',
 '4',
 '2',
 '1',
 '4',
 '2',
 '0',
 '1',
 '4',
 '4',
 '2',
 '3',
 '3',
 '3',
 '1',
 '2',
 '4',
 '4',
 '2',
 '4',
 '1',
 '1',
 '2',
 '3',
 '1']

In [6]:
import requests
from bs4 import BeautifulSoup

scraped_Prices = []

for x in range(2, 10):
    mylink = f'https://www.buyrentkenya.com/flats-apartments-for-rent/nairobi/kileleshwa?page={x}'

    response = requests.get(mylink)
    result = BeautifulSoup(response.content, "html.parser")
    result

    ALL_LINKS = result.find_all(class_='text-black no-underline')

    links = [l.get('href') for l in ALL_LINKS]

    linksS = [f'https://www.buyrentkenya.com{l}' for l in links]

    new_links = []
    for link in linksS:
        new_linkss = link.split("\n")
        new_links.append(new_linkss)
    new_links

    second_links = []

    for x in range(0, len(new_links), 2):
        second_links.append(new_links[x])

    total_links = []
    for x in second_links:
        total_links.append(x)

    link_list = []
    for x in total_links:
        link_s = x[0]
        link_list.append(link_s)
    link_list

    for link in link_list:
        response = requests.get(link)
        myresult = BeautifulSoup(response.content, "html.parser")

        number_prices = myresult.find(class_="text-xl leading-7 font-semibold md:text-xxl md:font-extrabold block")

        if number_prices:
            prices = number_prices.get_text(strip=True)
            scraped_Prices.append(prices)
        else:
            scraped_Prices.append("Title not found for this link")

In [7]:

cleaned_Prices = [price.replace('\n/ month', '') for price in scraped_Prices]

Scraped_Prices = []
for price in cleaned_Prices:
    Scraped_Prices.append(price)
Scraped_Prices

['KSh 85,000',
 'KSh 85,000',
 'KSh 200,000',
 'KSh 250,000',
 'KSh 220,000',
 'KSh 200,000',
 'KSh 110,000',
 'KSh 150,000',
 'KSh 130,000',
 'KSh 240,000',
 'KSh 220,000',
 'KSh 60,000',
 'KSh 120,000',
 'KSh 75,000',
 'Price not communicated',
 'KSh 90,000',
 'KSh 140,000',
 'KSh 280,000',
 'KSh 125,000',
 'KSh 130,000',
 'KSh 140,000',
 'KSh 150,000',
 'KSh 4,500',
 'KSh 90,000',
 'KSh 6,500',
 'KSh 120,000',
 'KSh 90,000',
 'KSh 85,000',
 'KSh 160,000',
 'KSh 55,000',
 'KSh 85,000',
 'KSh 85,000',
 'KSh 140,000',
 'KSh 115,000',
 'KSh 130,000',
 'KSh 180,000',
 'KSh 75,000',
 'KSh 220,000',
 'KSh 100,000',
 'KSh 140,000',
 'KSh 350,000',
 'KSh 80,000',
 'KSh 145,000',
 'Price not communicated',
 'KSh 110,000',
 'KSh 150,000',
 'KSh 120,000',
 'KSh 200,000',
 'KSh 85,000',
 'KSh 4,000',
 'KSh 4,500',
 'KSh 240,000',
 'KSh 130,000',
 'KSh 200,000',
 'KSh 95,000',
 'KSh 250,000',
 'KSh 155,000',
 'KSh 130,000',
 'KSh 45,000',
 'KSh 120,000',
 'KSh 90,000',
 'KSh 75,000',
 'KSh 100,000',
 'KSh 110,000',
 'KSh 140,000',
 'KSh 85,000',
 'KSh 170,000',
 'KSh 40,000',
 'KSh 65,000',
 'KSh 270,000',
 'KSh 8,000',
 'KSh 80,000',
 'KSh 150,000',
 'KSh 110,000',
 'KSh 80,000',
 'KSh 100,000',
 'KSh 130,000',
 'KSh 180,000',
 'KSh 250,000',
 'KSh 120,000',
 'KSh 90,000',
 'KSh 100,000',
 'KSh 95,000',
 'KSh 130,000',
 'KSh 110,000',
 'KSh 120,000',
 'KSh 140,000',
 'KSh 55,000',
 'KSh 85,000',
 'KSh 100,000',
 'KSh 200,000',
 'KSh 220,000',
 'KSh 200,000',
 'KSh 130,000',
 'KSh 150,000',
 'KSh 150,000',
 'KSh 7,000',
 'KSh 180,000',
 'KSh 65,000',
 'KSh 130,000',
 'KSh 180,000',
 'KSh 150,000',
 'KSh 110,000',
 'Price not communicated',
 'KSh 160,000',
 'KSh 120,000',
 'KSh 90,000',
 'KSh 80,000',
 'KSh 8,000',
 'KSh 3,500',
 'KSh 120,000',
 'KSh 250,000',
 'KSh 200,000',
 'KSh 150,000',
 'KSh 150,000',
 'KSh 55,000',
 'KSh 90,000',
 'KSh 75,000',
 'KSh 150,000',
 'KSh 150,000']

In [11]:
import pandas as pd
mydataframe2 = pd.DataFrame({"Title" : scraped_Titles,"Bedrooms" : scraped_Bedrooms,"Bathrooms" : scraped_Bathrooms , "Prices" :Scraped_Prices })

In [12]:
mydataframe2

,Title,Bedrooms,Bathrooms,Prices
0,3 Bed Apartment with En Suite at Kileleshwa,3,3,"KSh 85,000"
1,3 Bed Apartment with En Suite in Kileleshwa,3,2,"KSh 85,000"
2,Serviced 2 Bed Apartment with En Suite in Kile...,2,3,"KSh 200,000"
3,Furnished 2 Bed Apartment with En Suite at,2,2,"KSh 250,000"
4,Furnished 2 Bed Apartment with En Suite in Kil...,2,2,"KSh 220,000"
...,...,...,...,...
115,2 Bed Apartment with Parking at Githunguri,2,1,"KSh 55,000"
116,Furnished 1 Bed Apartment with En Suite in Kil...,1,1,"KSh 90,000"
117,2 Bed Apartment with En Suite at Kileleshwa,2,2,"KSh 75,000"
118,3 Bed Apartment with En Suite at Kileleshwa,3,3,"KSh 150,000"
119,Serviced 1 Bed Apartment with En Suite at Kile...,1,1,"KSh 150,000"

In [4]:
import pandas as pd
df = pd.DataFrame(mydataframe2)

df.to_csv('Rent_kILELESHWA_Data.csv', index=False)

NameError: name 'mydataframe2' is not defined

In [5]:
Kileleshwa = pd.read_csv('Rent_kILELESHWA_Data.csv')

In [6]:
Kileleshwa

,Title,Bedrooms,Bathrooms,Prices
0,3 Bed Apartment with En Suite at Kileleshwa,3,3,"KSh 85,000"
1,3 Bed Apartment with En Suite in Kileleshwa,3,2,"KSh 85,000"
2,Serviced 2 Bed Apartment with En Suite in Kile...,2,3,"KSh 200,000"
3,Furnished 2 Bed Apartment with En Suite at,2,2,"KSh 250,000"
4,Furnished 2 Bed Apartment with En Suite in Kil...,2,2,"KSh 220,000"
...,...,...,...,...
115,2 Bed Apartment with Parking at Githunguri,2,1,"KSh 55,000"
116,Furnished 1 Bed Apartment with En Suite in Kil...,1,1,"KSh 90,000"
117,2 Bed Apartment with En Suite at Kileleshwa,2,2,"KSh 75,000"
118,3 Bed Apartment with En Suite at Kileleshwa,3,3,"KSh 150,000"
119,Serviced 1 Bed Apartment with En Suite at Kile...,1,1,"KSh 150,000"

In [9]:
price =Kileleshwa["Prices"]
mypricelist = list(price )

cleaned_prices = [int(price.replace('KSh ', '').replace(',', '')) if 'KSh' in price else None for price in mypricelist]
prices = []
for price in cleaned_prices:
    prices.append(price)

In [10]:
prices

[85000,
 85000,
 200000,
 250000,
 220000,
 200000,
 110000,
 150000,
 130000,
 240000,
 220000,
 60000,
 120000,
 75000,
 None,
 90000,
 140000,
 280000,
 125000,
 130000,
 140000,
 150000,
 4500,
 90000,
 6500,
 120000,
 90000,
 85000,
 160000,
 55000,
 85000,
 85000,
 140000,
 115000,
 130000,
 180000,
 75000,
 220000,
 100000,
 140000,
 350000,
 80000,
 145000,
 None,
 110000,
 150000,
 120000,
 200000,
 85000,
 4000,
 4500,
 240000,
 130000,
 200000,
 95000,
 250000,
 155000,
 130000,
 45000,
 120000,
 90000,
 75000,
 100000,
 110000,
 140000,
 85000,
 170000,
 40000,
 65000,
 270000,
 8000,
 80000,
 150000,
 110000,
 80000,
 100000,
 130000,
 180000,
 250000,
 120000,
 90000,
 100000,
 95000,
 130000,
 110000,
 120000,
 140000,
 55000,
 85000,
 100000,
 200000,
 220000,
 200000,
 130000,
 150000,
 150000,
 7000,
 180000,
 65000,
 130000,
 180000,
 150000,
 110000,
 None,
 160000,
 120000,
 90000,
 80000,
 8000,
 3500,
 120000,
 250000,
 200000,
 150000,
 150000,
 55000,
 90000,
 75000,
 150000,
 150000]

In [12]:
import pandas as pd


title = Kileleshwa["Title"]
mytitlelist = list(title)

bedrooms = Kileleshwa["Bedrooms"]
mybedroomslist = list(bedrooms)

Bathrooms = Kileleshwa["Bathrooms"]
mybathroomslist = list(Bathrooms)

import pandas as pd
KileleshwaDataframe = pd.DataFrame({"Title" : mytitlelist,"Bedrooms" : mybedroomslist,"Bathrooms" : mybathroomslist , "Prices" :prices })

In [13]:
KileleshwaDataframe

,Title,Bedrooms,Bathrooms,Prices
0,3 Bed Apartment with En Suite at Kileleshwa,3,3,85000.0
1,3 Bed Apartment with En Suite in Kileleshwa,3,2,85000.0
2,Serviced 2 Bed Apartment with En Suite in Kile...,2,3,200000.0
3,Furnished 2 Bed Apartment with En Suite at,2,2,250000.0
4,Furnished 2 Bed Apartment with En Suite in Kil...,2,2,220000.0
...,...,...,...,...
115,2 Bed Apartment with Parking at Githunguri,2,1,55000.0
116,Furnished 1 Bed Apartment with En Suite in Kil...,1,1,90000.0
117,2 Bed Apartment with En Suite at Kileleshwa,2,2,75000.0
118,3 Bed Apartment with En Suite at Kileleshwa,3,3,150000.0
119,Serviced 1 Bed Apartment with En Suite at Kile...,1,1,150000.0

In [58]:
import pandas as pd

# Read the CSV file
Kileleshwa = pd.read_csv('Rent_kILELESHWA_Data.csv')

# Extract data from the Kileleshwa DataFrame
price = Kileleshwa["Prices"]
mypricelist = list(price)

# Clean the prices data
cleaned_prices = [int(price.replace('KSh ', '').replace(',', '')) if 'KSh' in price else None for price in mypricelist]
prices = [price for price in cleaned_prices]

title = Kileleshwa["Title"]
mytitlelist = list(title)

bedrooms = Kileleshwa["Bedrooms"]
mybedroomslist = list(bedrooms)

bathrooms = Kileleshwa["Bathrooms"]
mybathroomslist = list(bathrooms)

# Create a DataFrame for Kileleshwa
KileleshwaDataframe = pd.DataFrame({
    "Title": mytitlelist,
    "Bedrooms": mybedroomslist,
    "Bathrooms": mybathroomslist,
    "Prices": prices
})

# Create a DataFrame for Kilimani (assuming it's a separate DataFrame)
KilimaniDataframe = pd.DataFrame({
    "Title": mytitlelist,
    "Bedrooms": mybedroomslist,
    "Bathrooms": mybathroomslist,
    "Prices": prices
})

# Find indices where 'Bedrooms' is not found for this link
indices_to_remove = KilimaniDataframe[KilimaniDataframe['Bedrooms'] == 'Title not found for this link'].index

# Drop rows with the specified indices
KileleshwaDataframe = KilimaniDataframe.drop(indices_to_remove)

# Reset the index of the DataFrame
KileleshwaDataframe = KileleshwaDataframe.reset_index(drop=True)

# Display the resulting DataFrame
KileleshwaDataframe

,Title,Bedrooms,Bathrooms,Prices
0,3 Bed Apartment with En Suite at Kileleshwa,3,3,85000.0
1,3 Bed Apartment with En Suite in Kileleshwa,3,2,85000.0
2,Serviced 2 Bed Apartment with En Suite in Kile...,2,3,200000.0
3,Furnished 2 Bed Apartment with En Suite at,2,2,250000.0
4,Furnished 2 Bed Apartment with En Suite in Kil...,2,2,220000.0
...,...,...,...,...
108,2 Bed Apartment with Parking at Githunguri,2,1,55000.0
109,Furnished 1 Bed Apartment with En Suite in Kil...,1,1,90000.0
110,2 Bed Apartment with En Suite at Kileleshwa,2,2,75000.0
111,3 Bed Apartment with En Suite at Kileleshwa,3,3,150000.0
112,Serviced 1 Bed Apartment with En Suite at Kile...,1,1,150000.0

In [16]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\abdihalim abdiaziiz\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\abdihalim abdiaziiz\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\abdihalim abdiaziiz\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\abdihalim abdiaziiz\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abdihalim abdiaziiz\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
from sklearn.linear_model import LinearRegression

In [46]:
features = ['Bedrooms','Bathrooms']
target = 'Prices'

In [59]:


KileleshwaDataframe = KileleshwaDataframe.dropna(subset=[target])

x = KileleshwaDataframe[features]
y = KileleshwaDataframe[target]



model = LinearRegression()

model

model.fit(x, y)

LinearRegression()

In [60]:
new_data_kileleshwa = pd.DataFrame([[2,1]], columns = features)

In [61]:
new_data_kileleshwa

   Bedrooms  Bathrooms
0         2          1

In [62]:
predicted_price_kileleshwa = model.predict(new_data_kileleshwa)

In [63]:
print("Predicted Price kileleshwa" ,predicted_price_kileleshwa)

Predicted Price kileleshwa [113632.17889954]